<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HTML and CSS Tags</title>
    <link type="text/css" rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <header>
        <h1>Pokemon</h1>
    </header>
    <nav>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/tags">Pokemon</a>
            </li>
            <li>
                <a href="/tags/1">Gen 1 pokemon </a>
            </li>
            <li>
                <a href="/tags/2">Gen 2 pokemon </a>
            </li>
            <li>
                <a href="/tags/3">Gen 3 pokemon </a>
            </li>
            <li>
                <a href="/tags/4">Gen 4 pokemon </a>
            </li>
            <li>
                <a href="/tags/5">Gen 5 pokemon </a>
            </li>
            <li>
                <a href="/tags/6">Gen 6 pokemon </a>
            </li>
            <li>
                <a href="/leg">Legendary pokemon </a>
            </li>

        </ul>
        <form method="POST" action="/search">
            <input type="text" name="search" id="search">
            <input type="submit" value="Search">
        </form>

    </nav>
    <main>
        {% block main %}{% endblock %}
    </main>
    <footer>
        <p>&copy; F Nichols 2024</p>
    </footer>
</body>
</html>